@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

input:not(#agreement) {
  width: 350px;
}
.asterics {
  color: red;
}
.errors {
  color: red;
  font-size: 13px;
}
#agreement {
  margin-left: 100px;
}
.agree {
  margin-left: 10px;
}
